{% load static %}

<style>

</style>

<div class="mobile-only">
    <div class="container mt-4">
        <div class="book-details-card" data-book-id="{{ book.id }}">
            <img src="{{ book.BookImage.url }}" class="book-img-top" alt="{{ book.BookTitle }}">
            <br>
            <div class="book-body">
                <div id="button-group" class="d-flex justify-content-around mb-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-primary bookmark-button">
                            <i class="fas fa-bookmark"></i> Bookmark
                        </button>
                        <button class="btn btn-secondary view-button" data-book-id="" onclick="redirectToPreview(this)">
                            <i class="fas fa-eye"></i> View
                        </button>
                        <button class="btn btn-success">
                            <i class="fas fa-book"></i> Borrow
                        </button>
                    </div>
                </div>
                <h5 class="title">{{ book.BookTitle }}</h5>
                <p class="book-text author"><strong>Author:</strong> {{ book.Author }}</p>
                <p class="book-text date"><strong>Date:</strong> {{ book.Date }}</p>
                <p class="book-text description"><strong>Description:</strong> {{ book.Description }}</p>
            </div>
        </div>
    </div>
</div>