{% extends 'student.html' %}

{% block title %} Books by Year {% endblock %}

{% block style %}

<style>
    .content{
        padding: 0 50px;
        margin-top: 150px;
    }
    .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden; /* To ensure that overflowed content doesn't affect the layout */
    width: 300px; /* Adjust the width as needed */
    }
    
    .card:hover {
        transform: translateY(-5px);
    }
    
    .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: transform 0.3s;
        width: 300px;
        height: 350px
    }
    
    .card:hover .card-img-top {
        transform: scale(1.05); /* Example animation for hovering over the card image */
    }
    
    .card-text {
        color: #555;
    }
    .card-footer{
        display:flex;
        justify-content: center;
    }
    .date-head{
        display:flex;
    }
    .date-title{
        margin-left: auto;
        margin-right: auto;
    }
    .date-content{
        padding: 20px 50px;
    }
</style>

{% endblock  %}

{% block nav %}

<li><span class="material-symbols-outlined navbar-icon" alt="home">home</span><a href="{% url 'view' %}" class="navbar-desc">Home</a></li>
<li><a href="{% url 'bookmark' %}" class="material-symbols-outlined bookmark navbar-icon" alt="bookmark">bookmark</a><a href="{% url 'bookmark' %}" class="navbar-desc">Bookmark</a></li>
<li><span class="material-symbols-outlined navbar-icon" alt="help">help</span><a href="#" class="navbar-desc">Help</a></li>

{% endblock %}

{% block body %}

<div class="date-head ">
    <div class="date-title">
        <h1>Books published in {{ year }}</h1>
    </div>
</div>
<div class="date-content row">
    {% for book in year_books %}
    <div class="mb-4 col-sm-3">
        <div class="card">
            <img src="{{ book.BookImage.url }}" class="card-img-top" alt="{{ book.BookTitle }}">
            <div class="card-body">
                <h5 class="card-title">{{ book.BookTitle }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ book.Author }}</h6>
                <p class="card-text">{{ book.Description }}</p>
                <p class="card-text">Date: {{ book.Date }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var offcanvasElement = document.getElementById('offcanvasScrolling');
        var sideBarElement = document.querySelector('.side-bar');
        var mainContainer = document.getElementById('main-container'); // Select the main container
        
        // Add event listener to the offcanvas element
        offcanvasElement.addEventListener('hidden.bs.offcanvas', function() {
            sideBarElement.classList.remove('show');
            mainContainer.classList.remove('with-sidebar');
        });
        
        // Add event listener to the offcanvas element
        offcanvasElement.addEventListener('show.bs.offcanvas', function() {
            sideBarElement.classList.add('show');
            mainContainer.classList.add('with-sidebar');
        });
    });
</script>

{% endblock %}